.dashboard-wrapper {
  height: 100%;
  .dashboard {
    width: 100%;
    background-color: $black-haze;
    padding: 15px 0;
    main {
      padding: 0 10px;
    }

  }

  .dashboard-sidebar {
    width: 30%;
    min-width: 280px;
    background-color: $black-haze;

    > * {
      padding: 10px 20px;
    }

    h3 {
      margin-top: 5px;
    }
  }

}

