.dashboard-wrapper {
  height: 100%;
  .dashboard {
    width: 100%;
    padding: 15px 0;
    main {
      padding: 0 10px;
    }

  }
  .dashboard-sidebar {
    width: 20%;
    min-width: 280px;
    background-color: $hint-red;

    > * {
      padding: 10px 20px;
    }

    h3 {
      margin-top: 5px;
    }
  }

}

.admin-nav {
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid $off-white;
  .branding {
    width: 280px;
    border-right: 1px solid $off-white;
  }

  .material {
    font-size: 28px;
  }
  a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, p {
    margin: 5px 0 5px;
  }
}

.dash-box {
  padding: 20px;
  border-radius: 5px;
  border: 5px solid $gray-lighter;
  margin: 30px 0;

  p {
    margin: 0 0 0;
  }

  &.widget {
    background-color: $gray-lighter;

    .material {
      font-size: 36px;
    }
  }
}

.dash-box-heading {
  padding: 0 0 10px;
  margin: 0 0 10px;
}
