.dashboard-wrapper {
  height: 100%;
  .dashboard {
    width: 100%;
    background-color: $black-haze;
    padding: 15px 0;
    main {
      padding: 0 10px;
    }

  }

  .dashboard-sidebar {
    width: 30%;
    min-width: 280px;
    background-color: $black-haze;

    > * {
      padding: 10px 20px;
    }

    h3 {
      margin-top: 5px;
    }
  }

}

.admin-nav {
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid $off-white;
  .branding {
    width: 280px;
    border-right: 1px solid $off-white;
  }

  .material {
    font-size: 28px;
  }
  a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, p {
    margin: 5px 0 5px;
  }
}

.dash-box {
  padding: 20px;
  border-radius: 3px;
  margin: 30px 0;
  background-color: #fff;

  p {
    margin: 0 0 0;
  }

  &.widget {
    border: none;
    height: 100px;
    padding: 0 20px;
    text-align: center;
    .material {
      font-size: 36px;
    }
  }
}

.dash-box-heading {
  font-size: 24px;
  padding: 0 0 10px;
  color: $aluminum;
}
