body {
    /* Sidebar Styles */ }
    body #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 200px;
        width: 0;
        height: 100%;
        margin-left: -200px;
        overflow-y: auto;
        background: #000;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
    body #wrapper {
        padding-left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
    body #wrapper.toggled {
        padding-left: 200px; }
    body #wrapper.toggled #sidebar-wrapper {
        width: 200px; }
    body #page-content-wrapper {
        width: 100%;
        position: absolute;
        /*padding: 15px;*/ }
    body #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-right: -200px; }
    body .sidebar-nav {
        position: absolute;
        top: 0;
        width: 200px;
        margin: 0;
        padding: 0;
        list-style: none; }
    body .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px; }
    body .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: #999999; }
    body .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2); }
    body .sidebar-nav li a:active,
    body .sidebar-nav li a:focus {
        text-decoration: none; }
    body .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px; }
    body .sidebar-nav > .sidebar-brand a {
        color: #999999; }
    body .sidebar-nav > .sidebar-brand a:hover {
        color: #fff;
        background: none; }
    @media (min-width: 768px) {
        body #wrapper {
            padding-left: 200px; }
        body #wrapper.toggled {
            padding-left: 0; }
        body #sidebar-wrapper {
            width: 200px; }
        body #wrapper.toggled #sidebar-wrapper {
            width: 0; }
        body #page-content-wrapper {
            padding: 20px;
            position: relative; }
        body #wrapper.toggled #page-content-wrapper {
            position: relative;
            margin-right: 0; } }
