$font-size-base: 16px;
$navbar-height: 80px;
$input-border-radius: 1px;
$navbar-margin-bottom: 0;
$base-padding: 40px;
$secondary-bg: #337AB1;
$border-radius-base: 5;
$btn-border-radius-base: 3px;
$sidebar-width: 200px;
$sidebar-width-closed: 80px;
$magnesium: #B5B5B5;
$hint-red: #F9F9F9;
$off-white: #EEEEEE;
$romance: #FCFDFD;
$black-haze: #F5F8F9;
$aluminum: #999999;
$icon-font-path: "./fonts/bootstrap/";
