@import "variables";
@import "mixins/mixins";
@import "mixins/widget";
@import "mixins/menu";
@import "mixins/sidebar-nav";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "modules/tbls";
@import "modules/dashboard";
@import "modules/components";

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: $sidebar-width;
  width: 80px;
  height: 100%;
  margin-left: -$sidebar-width;
  overflow-y: auto;
  background: $gray-dark;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper {
  padding-left: 0;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

#wrapper.toggled {
  padding-left: $sidebar-width;
}

#wrapper.toggled #sidebar-wrapper {
  width: $sidebar-width;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: 80px;
}


@media(min-width: 768px) {
  #wrapper {
    padding-left: $sidebar-width;
  }

  #wrapper.toggled {
    padding-left: 80px;
  }

  #sidebar-wrapper {
    width: $sidebar-width;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 80px;
  }

  #page-content-wrapper {
    padding: 0px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

}


.admin-nav {
  @include menus(75px);
}


/* Sidebar Styles */

.sidebar-nav {
  @include sidebarNav;
  @include sidebarLinks;
}

.sidebar-right {
  height: 100%;
}

/* Widgets */

.widgets {

  @include widgets();
  height: 120px;
  background-color: #fff;
  color: $aluminum;

}

.boards {

  @include widgets(24, 14);
  background-color: #fff;
  color: $aluminum;

  p {
    font-weight: normal;
  }

}
