@import "variables";
@import "mixins/mixins";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

@import "modules/tbls";
@import "modules/dashboard";
@import "modules/components";
@import "mixins/widget";

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: $sidebar-width;
  width: 80;
  height: 100%;
  margin-left: -$sidebar-width;
  overflow-y: auto;
  background: $gray-dark;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper {
  padding-left: 0;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

#wrapper.toggled {
  padding-left: $sidebar-width;
}

#wrapper.toggled #sidebar-wrapper {
  width: $sidebar-width;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: 80px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: $sidebar-width-closed;
  margin: 0;
  padding: 0;
  list-style: none;

  .material {
    font-size: 24px;
    padding: 0 10px 0 10px;
    display: block;
    text-shadow: #000 1px 1px 3px;
  }

  li a {
    text-align: center;
    width: $sidebar-width;
    padding: 15px 0 15px;
    .toggled & {
      width: 80px;
    }
  }

  .closed {
    display: none;
  }

  .nav-title {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 14px;
    display: block;
    .toggled & {
      display: none;
    }

  }

}

.sidebar-nav li {
  //text-indent: 20px;
  //line-height: 40px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.sidebar-right {
  height: 100%;
}

@media(min-width: 768px) {
  #wrapper {
    padding-left: $sidebar-width;
  }

  #wrapper.toggled {
    padding-left: 80px;
  }

  #sidebar-wrapper {
    width: $sidebar-width;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 80px;
  }

  #page-content-wrapper {
    padding: 0px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}


.widgets {

  @include widgets();
  height: 120px;
  background-color: #fff;
  color: $aluminum;

}

.dashboards {

  @include widgets(24, 14);
  background-color: #fff;

  p {
    font-weight: normal;
  }

}
