$font-size-base: 16px;
$navbar-height: 80px;
$input-border-radius: 1px;
$navbar-margin-bottom: 0;
$base-padding: 40px;
$secondary-bg: #337AB1;
$border-radius-base: 5;
$btn-border-radius-base: 3px;
$sidebar-width: 250px;
$magnesium: #B5B5B5;
$hint-red: #F9F9F9