$icomoon-font-path: "fonts" !default;

$social-v-card: "\e900";
$social-video: "\e901";
$social-vinyl: "\e902";
$social-voicemail: "\e903";
$social-wallet: "\e904";
$social-water: "\e905";
$social-500px-with-circle: "\e906";
$social-500px: "\e907";
$social-basecamp: "\e908";
$social-behance: "\e909";
$social-creative-cloud: "\e90a";
$social-dropbox: "\e90b";
$social-evernote: "\e90c";
$social-flattr: "\e90d";
$social-foursquare: "\e90e";
$social-google-drive: "\e90f";
$social-google-hangouts: "\e910";
$social-grooveshark: "\e911";
$social-icloud: "\e912";
$social-mixi: "\e913";
$social-onedrive: "\e914";
$social-paypal: "\e915";
$social-picasa: "\e916";
$social-qq: "\e917";
$social-rdio-with-circle: "\e918";
$social-renren: "\e919";
$social-scribd: "\e91a";
$social-sina-weibo: "\e91b";
$social-skype-with-circle: "\e91c";
$social-skype: "\e91d";
$social-slideshare: "\e91e";
$social-smashing: "\e91f";
$social-soundcloud: "\e920";
$social-spotify-with-circle: "\e921";
$social-spotify: "\e922";
$social-swarm: "\e923";
$social-vine-with-circle: "\e924";
$social-vine: "\e925";
$social-vk-alternitive: "\e926";
$social-vk-with-circle: "\e927";
$social-vk: "\e928";
$social-xing-with-circle: "\e929";
$social-xing: "\e92a";
$social-yelp: "\e92b";
$social-dribbble-with-circle: "\e92c";
$social-dribbble: "\e92d";
$social-facebook-with-circle: "\e92e";
$social-facebook: "\e92f";
$social-flickr-with-circle: "\e930";
$social-flickr: "\e931";
$social-github-with-circle: "\e932";
$social-github: "\e933";
$social-google-with-circle: "\e934";
$social-google: "\e935";
$social-instagram-with-circle: "\e936";
$social-instagram: "\e937";
$social-lastfm-with-circle: "\e938";
$social-lastfm: "\e939";
$social-linkedin-with-circle: "\e93a";
$social-linkedin: "\e93b";
$social-pinterest-with-circle: "\e93c";
$social-pinterest: "\e93d";
$social-rdio: "\e93e";
$social-stumbleupon-with-circle: "\e93f";
$social-stumbleupon: "\e940";
$social-tumblr-with-circle: "\e941";
$social-tumblr: "\e942";
$social-twitter-with-circle: "\e943";
$social-twitter: "\e944";
$social-vimeo-with-circle: "\e945";
$social-vimeo: "\e946";
$social-youtube-with-circle: "\e947";
$social-youtube: "\e948";

