body {
    overflow-x: hidden; }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 80;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #333333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

#wrapper {
    padding-left: 0;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

#wrapper.toggled {
    padding-left: 200px; }

#wrapper.toggled #sidebar-wrapper {
    width: 200px; }

#page-content-wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    /*padding: 15px;*/ }

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 80px; }

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 80px;
    margin: 0;
    padding: 0;
    list-style: none; }
    .sidebar-nav .material {
        font-size: 24px;
        padding: 0 10px 0 10px;
        display: block;
        text-shadow: #000 1px 1px 3px; }
    .sidebar-nav li a {
        text-align: center;
        width: 200px;
        padding: 15px 0 15px; }
        .toggled .sidebar-nav li a {
            width: 80px; }
    .sidebar-nav .closed {
        display: none; }
    .sidebar-nav .nav-title {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        font-size: 14px;
        display: block; }
        .toggled .sidebar-nav .nav-title {
            display: none; }

.sidebar-nav li {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none; }

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
    color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none; }

.sidebar-right {
    height: 100%; }

@media (min-width: 768px) {
    #wrapper {
        padding-left: 200px; }
    #wrapper.toggled {
        padding-left: 80px; }
    #sidebar-wrapper {
        width: 200px; }
    #wrapper.toggled #sidebar-wrapper {
        width: 80px; }
    #page-content-wrapper {
        padding: 0px;
        position: relative; }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0; } }

.tbl {
    display: table;
    height: inherit;
    width: 100%; }
    .tbl-row {
        display: table-row; }
    .tbl-cell {
        display: table-cell;
        vertical-align: middle; }
    .tbl-top {
        vertical-align: top; }
    .tbl-bottom {
        vertical-align: bottom; }

.dashboard-wrapper {
    height: 100%; }
    .dashboard-wrapper .dashboard {
        width: 100%;
        background-color: #F5F8F9;
        padding: 15px 0; }
        .dashboard-wrapper .dashboard main {
            padding: 0 10px; }
    .dashboard-wrapper .dashboard-sidebar {
        width: 20%;
        min-width: 280px;
        background-color: #F5F8F9; }
        .dashboard-wrapper .dashboard-sidebar > * {
            padding: 10px 20px; }
        .dashboard-wrapper .dashboard-sidebar h3 {
            margin-top: 5px; }

.admin-nav {
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #EEEEEE; }
    .admin-nav .branding {
        width: 280px;
        border-right: 1px solid #EEEEEE; }
    .admin-nav .material {
        font-size: 28px; }
    .admin-nav a {
        text-decoration: none; }
    .admin-nav h1, .admin-nav h2, .admin-nav h3, .admin-nav h4, .admin-nav h5, .admin-nav p {
        margin: 5px 0 5px; }

.dash-box {
    padding: 20px;
    border-radius: 3px;
    border: 2px solid #eeeeee;
    margin: 30px 0;
    background-color: #fff; }
    .dash-box p {
        margin: 0 0 0; }
    .dash-box.widget {
        border: none;
        height: 100px;
        padding: 0 20px;
        text-align: center; }
        .dash-box.widget .material {
            font-size: 36px; }

.dash-box-heading {
    font-size: 24px;
    padding: 0 0 10px;
    color: #999999; }

.widgets .social {
    font-size: 16px; }
    .widgets .social-reg {
        font-size: 36px; }
    .widgets .social-med {
        font-size: 48px; }
    .widgets .social-large {
        font-size: 72px; }
