.tbl {
    display: table;
    height: inherit;
    width: 100%; }
    .tbl-row {
        display: table-row; }
    .tbl-cell {
        display: table-cell;
        vertical-align: middle; }
    .tbl-top {
        vertical-align: top; }
    .tbl-bottom {
        vertical-align: bottom; }

#dashboard {
    margin: 0;
    padding: 0; }
    #dashboard .dashboard-wrapper {
        height: 100%; }
        #dashboard .dashboard-wrapper .dashboard {
            background-color: #F5F8F9;
            padding: 15px 0; }
            #dashboard .dashboard-wrapper .dashboard main {
                padding: 0 10px; }
        #dashboard .dashboard-wrapper .dashboard-sidebar {
            background-color: #F5F8F9; }
            #dashboard .dashboard-wrapper .dashboard-sidebar > * {
                padding: 10px 20px; }
            #dashboard .dashboard-wrapper .dashboard-sidebar h3 {
                margin-top: 5px; }

.widgets .social {
    font-size: 16px; }
    .widgets .social-reg {
        font-size: 36px; }
    .widgets .social-med {
        font-size: 48px; }
    .widgets .social-large {
        font-size: 72px; }

body {
    overflow-x: hidden; }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 80px;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #333333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

#wrapper {
    padding-left: 0;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

#wrapper.toggled {
    padding-left: 200px; }

#wrapper.toggled #sidebar-wrapper {
    width: 200px; }

#page-content-wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #F5F8F9; }

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 80px; }

@media (min-width: 768px) {
    #wrapper {
        padding-left: 200px; }
    #wrapper.toggled {
        padding-left: 80px; }
    #sidebar-wrapper {
        width: 200px; }
    #wrapper.toggled #sidebar-wrapper {
        width: 80px; }
    #page-content-wrapper {
        padding: 0px;
        position: relative; }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0; } }

@media (max-width: 767px) {
    #wrapper {
        padding-left: 80px; }
    #wrapper.toggled {
        padding-left: 80px; }
    #sidebar-wrapper {
        width: 80px; }
    #wrapper.toggled #sidebar-wrapper {
        width: 80px; }
    #page-content-wrapper {
        padding: 0px;
        position: relative; }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0; } }

.admin-nav {
    background-color: #fff;
    height: 75px;
    padding: 0 20px; }
    .admin-nav .branding {
        width: 280px; }
    .admin-nav .material {
        font-size: 28px; }
    .admin-nav a {
        text-decoration: none; }
    .admin-nav h1, .admin-nav h2, .admin-nav h3, .admin-nav h4, .admin-nav h5, .admin-nav p {
        margin: 5px 0 5px; }

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 80px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: transparent; }
    .sidebar-nav .material {
        font-size: 24px;
        padding: 0 10px 0 10px;
        display: block;
        text-shadow: #000 1px 1px 3px; }
    .sidebar-nav li a {
        text-align: center;
        width: 200px;
        padding: 15px 0 15px; }
        .toggled .sidebar-nav li a {
            width: 80px; }
    .sidebar-nav .closed {
        display: none; }
    .sidebar-nav .nav-title {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        font-size: 14px;
        display: block; }
        .toggled .sidebar-nav .nav-title {
            display: none; }
    .sidebar-nav li {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
    .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: #999999;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
    .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2); }
    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none; }

.sidebar-right {
    height: 100%; }

/* Widgets */
.widgets {
    margin: 20px 0;
    box-sizing: border-box;
    padding: 10px 20px;
    font-weight: 500;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    display: table;
    width: 100%;
    height: 120px;
    background-color: #fff;
    color: #999999; }
    .widgets .content {
        display: table-cell;
        vertical-align: middle; }
    .widgets div, .widgets p {
        padding: 5px;
        margin: 0; }
    .widgets hr {
        margin: 0; }
    .widgets .widget-heading, .widgets .widget-footer {
        font-size: 14px;
        font-size: 0.875em;
        padding: 5px; }
    .widgets .widget-body {
        font-size: 24px;
        font-size: 1.5em; }

.boards {
    margin: 20px 0;
    box-sizing: border-box;
    padding: 10px 20px;
    font-weight: 500;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    display: table;
    width: 100%;
    background-color: #fff;
    color: #999999; }
    .boards .content {
        display: table-cell;
        vertical-align: middle; }
    .boards div, .boards p {
        padding: 5px;
        margin: 0; }
    .boards hr {
        margin: 0; }
    .boards .widget-heading, .boards .widget-footer {
        font-size: 24px;
        font-size: 1.5em;
        padding: 5px; }
    .boards .widget-body {
        font-size: 14px;
        font-size: 0.875em; }
    .boards p {
        font-weight: normal; }
