html, body {
    height: 100%;
    -webkit-font-smoothing: antialiased; }

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #555555; }

p {
    font-size: 16px;
    line-height: 1.6; }

header {
    height: 420px;
    background-color: #eeeeee;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
    header.landing {
        height: 75%;
        max-height: 640px; }

.footer {
    width: 100%;
    background-color: lightgrey; }

.bg-1 {
    background-image: url("/img/bg/01.jpg"); }

.bg-2 {
    background-image: url("/img/bg/02.jpg"); }

.bg-3 {
    background-image: url("/img/bg/03.jpg"); }

.bg-4 {
    background-image: url("/img/bg/04.jpg"); }

.bg-5 {
    background-image: url("/img/bg/05.jpg"); }

.bg-6 {
    background-image: url("/img/bg/06.jpg"); }

.bg-7 {
    background-image: url("/img/bg/07.jpg"); }

header.landing h1, .headline {
    font-size: 72px; }

main, section, footer {
    padding-top: 40px;
    padding-bottom: 40px; }

main {
    min-height: 420px; }

footer {
    background-color: #333333;
    color: #777777; }

.layout-table {
    display: table;
    width: 100%;
    height: 100%; }

.layout-row {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }

.layout-left {
    text-align: left; }

.g-map {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0;
    background-color: #EEEEEE; }

.cover {
    height: 100%; }

#contact-form label, .borderless label {
    font-size: 12px;
    font-weight: normal;
    color: #eeeeee;
    display: none; }

#contact-form input, #contact-form textarea, .borderless input, .borderless textarea {
    border: none;
    border-bottom: dotted 1px #777777;
    box-shadow: none;
    margin-bottom: 20px; }

#contact-form input:-webkit-autofill, #contact-form textarea:-webkit-autofill, #contact-form select:-webkit-autofill, .borderless input:-webkit-autofill, .borderless textarea:-webkit-autofill, .borderless select:-webkit-autofill {
    background-color: #eeeeee;
    background-image: none;
    color: black; }

.team-images {
    margin: 20px 0 20px 0; }
    .team-images img {
        box-sizing: border-box;
        padding: 20px; }
